old_pac/
__pycache__/
*testing.py
.venv/
dist/

# latex
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.run.xml
*.toc
*.synctex.gz

# tests
testing/store/*.dat
testing/store/*.hash


# docs
docs/BIBLIOGRAPHY.md
docs/BIBLIOGRAPHY_PYTHON.md
docs/theory


# misc
gitdiff.txt
build-commands